---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog')
		return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const imageUrl = new URL(Astro.url.href);
imageUrl.pathname = `${imageUrl.pathname.endsWith('/') ? imageUrl.pathname.slice(0, -1) : imageUrl.pathname}.png`;
---

<Fragment slot="head">
	<meta property="og:url" content={Astro.url.href} />
	<meta property="og:type" content="article" />
	<meta property="og:title" content={post.data.title} />
	<meta property="og:description" content={post.data.description} />
	<meta property="og:image" content={imageUrl.href} />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@aarnavtale" />
	<meta name="twitter:creator" content="@aarnavtale" />
	<meta name="twitter:title" content={post.data.title} />
	<meta name="twitter:description" content={post.data.description} />
	<meta name="twitter:image" content={imageUrl.href} />
</Fragment>

<Layout title={post.data.title} desc={post.data.description}>
	<a href="/blog" class="flex items-center gap-1 my-6">
		{'<'}
		<span>Back</span>
	</a>
	<div class="mb-8">
		<h1 class="text-3xl">
			{post.data.title}
		</h1>
		<p class="text-neutral-500 dark:text-neutral-400 mt-1 mb-6">
			<span>
				{post.data.date.toLocaleDateString()}
			</span>
			{' | '}
			{post.data.categories.map(category => (
				<span
					class={`
						inline-block text-sm rounded-md mr-2
						bg-neutral-200 dark:bg-neutral-700 px-1
					`}
				>
					{category}
				</span>
			))}
		</p>
	</div>
	<div
		class={`
			prose prose-neutral prose-lg dark:prose-invert
			prose-img:rounded-lg prose-img:shadow-lg prose-img:mx-auto
			prose-video:rounded-lg prose-video:shadow-md prose-video:mx-auto
			prose-figcaption:mt-2 prose-figcaption:text-center
			prose-figcaption:font-medium prose-figcaption:text-md
			prose-blockquote:not-italic prose-blockquote:opacity-80
			mb-16
		`}
	>
		<Content />
	</div>
</Layout>
