---
import { getCollection } from "astro:content"
import Layout from '@/layouts/Layout.astro'
import IconButton from '@/components/IconButton.astro'

const posts = await getCollection("blog")
const desc = `
My posts range from technical explanations to random thoughts.
If you enjoy reading any of these posts, please feel free to share them.
`.replace('\n', ' ')
---

<Layout title="Blog" desc={desc}>
	<p class="mb-4">
		My blog ranges from technical explanations to random thoughts.
		If you enjoy reading any of these posts, please feel free to share them.
		Posts are organized in chronological order and are tagged with categories that I feel best describe them.
	</p>
	<div class="grid grid-cols-1 gap-2">
		{posts
			.sort((a, b) => a.data.date > b.data.date ? -1 : 1)
			.map(post => (
				<a href={`/blog/${post.slug}`}>
					<div
						class={`
							border duration-100 p-4 rounded-lg
							border-neutral-200 dark:border-neutral-700
							hover:bg-neutral-100 dark:hover:bg-neutral-800
							w-full h-full flex justify-between items-start
						`}
					>
						<div>
							<h3 class="font-mono font-bold mb-1">
								{post.data.title}
							</h3>
							<p class="text-neutral-500 dark:text-neutral-400 font-mono">
								<span>
									{post.data.date.toLocaleDateString()}
								</span>
								{' | '}
								{post.data.categories.map(category => (
									<span class={`
										inline-block text-sm rounded-md mr-2 font-mono
										bg-neutral-200 dark:bg-neutral-700 px-1
									`}>
										{category}
									</span>
								))}
							</p>
							<p class="opacity-75 mt-4">
								{post.data.description}
							</p>
						</div>
						{post.data.icons.length > 0 ? (
							<div
								class={`
									inline-flex gap-1.5 items-center p-1 rounded-md
									bg-neutral-200 dark:bg-neutral-700
								`}
							>
								{post.data.icons.map(name => (
									<IconButton name={name} size={20} />
								))}
							</div>
						) : undefined}
					</div>
				</a>
			))
		}
	</div>
</Layout>
