---
import Blog from "@/components/blog.astro";
import Link from "@/components/link.astro";
import Site from "@/layouts/site.astro";

const desc = "Aarnav Tale's personal website and blog.";
const imageUrl = new URL("/assets/default.png", Astro.url);
---

<Fragment slot="head">
	<meta property="og:url" content={Astro.url.href} />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Aarnav Tale" />
	<meta property="og:description" content={desc} />
	<meta property="og:image" content={imageUrl.href} />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@aarnavtale" />
	<meta name="twitter:creator" content="@aarnavtale" />
	<meta name="twitter:title" content="Aarnav Tale" />
	<meta name="twitter:description" content={desc} />
	<meta name="twitter:image" content={imageUrl.href} />
</Fragment>

<Site {desc}>
	<p class="mb-4">
		Software engineer by day with a passion for solving big-data problems and
		building scalable systems. I also dabble in open-source projects on the side
		<Link external to="https://github.com/tale">[github]</Link>.
	</p>
	<p class="mb-6">
		When away from the keyboard, I'm rock climbing, skiing, or in the
		mountains chasing the next summit. Feel free to get in touch with me for
		any reason, both professional or personal
		<Link external to="mailto:aarnav@tale.me">[aarnav@tale.me]</Link>.
	</p>

	<Blog />
</Site>
