---
import Link from "@/components/link.astro";
import Site from "@/layouts/site.astro";
import Projects from "@/components/projects.astro";
import Credentials from "@/components/credentials.astro";

const desc = "Aarnav Tale's personal portfolio.";
const imageUrl = new URL("/assets/default.png", Astro.url);
---

<Fragment slot="head">
	<meta property="og:url" content={Astro.url.href} />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Portfolio • Aarnav Tale" />
	<meta property="og:description" content={desc} />
	<meta property="og:image" content={imageUrl.href} />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@aarnavtale" />
	<meta name="twitter:creator" content="@aarnavtale" />
	<meta name="twitter:title" content="Portfolio • Aarnav Tale" />
	<meta name="twitter:description" content={desc} />
	<meta name="twitter:image" content={imageUrl.href} />
</Fragment>

<Site title="Portfolio" desc="">
	<p>
		A small snippet of my resume and a list of publicly available projects that
		I have worked on. If you are a recruiter looking to get in touch, please
		email me at
		<Link external to="mailto:aarnav@tale.me">[aarnav@tale.me ->]</Link>.
	</p>
	<br />
	<Credentials />
	<br />
	<Projects />
</Site>
