---
import { getCollection } from "astro:content";
import Link from "@/components/link.astro";
import Section from "@/components/section.astro";
import { Icon } from "astro-icon/components";

const credentials = await getCollection("credentials");

const experiences = credentials
	.filter((item) => item.data.id.startsWith("exp:"))
	.map((item) => ({ ...item.data, id: item.data.id.replace("exp:", "") }))
	.sort((a, b) => {
		const aStart = Array.isArray(a.range) ? a.range[0] : a.range;
		const bStart = Array.isArray(b.range) ? b.range[0] : b.range;
		return bStart - aStart;
	});

const educations = credentials
	.filter((item) => item.data.id.startsWith("edu:"))
	.map((item) => ({ ...item.data, id: item.data.id.replace("edu:", "") }))
	.sort((a, b) => {
		const aStart = Array.isArray(a.range) ? a.range[0] : a.range;
		const bStart = Array.isArray(b.range) ? b.range[0] : b.range;
		return bStart - aStart;
	});
---

<Section title="Experience" />
<ul class="space-y-1">
	{
		experiences.map((exp) => (
			<li class="flex w-full flex-wrap items-center gap-2">
				<Icon
					name={exp.id}
					size={20}
					style={`background-color: ${exp.tint}`}
					class="inline-block"
				/>
				<span>
					{exp.role} @
					{exp.link ? (
						<Link external to={exp.link}>
							[{exp.org}]
						</Link>
					) : (
						exp.org
					)}
				</span>
				<span class="ml-auto hidden text-sm tabular-nums opacity-50 sm:inline">
					{Array.isArray(exp.range)
						? `${exp.range[0]} -> ${exp.range[1] === -1 ? "...." : exp.range[1]}`
						: exp.range}
				</span>
			</li>
		))
	}
</ul>
<br />
<Section title="Education" />
<ul class="space-y-1">
	{
		educations.map((exp) => (
			<li class="flex w-full items-center gap-2">
				<Icon
					name={exp.id}
					size={20}
					style={`background-color: ${exp.tint}`}
					class="inline-block"
				/>
				{exp.abbr ? (
					<span class="hidden sm:inline">{exp.org}</span>
					<span class="sm:hidden">{exp.abbr}</span>
				) : (
					<span>{exp.org}</span>
				)}
				<span class="ml-auto text-sm tabular-nums opacity-50">
					{exp.role}
				</span>
			</li>
		))
	}
</ul>
