---
import { getCollection } from "astro:content";
import Link from "@/components/link.astro";
import { Icon } from "astro-icon/components";

const credentials = await getCollection("credentials");

const experiences = credentials
	.filter((item) => item.data.id.startsWith("exp:"))
	.map((item) => ({ ...item.data, id: item.data.id.replace("exp:", "") }));

const educations = credentials
	.filter((item) => item.data.id.startsWith("edu:"))
	.map((item) => ({ ...item.data, id: item.data.id.replace("edu:", "") }));
---

<h2 class="mb-1.5 font-bold">Experience</h2>
<ul class="list-inside space-y-1">
	{
		experiences.map((exp) => (
			<li class="flex w-full items-center gap-2">
				<Icon
					name={exp.id}
					size={20}
					style={`background-color: ${exp.tint}`}
					class="inline-block"
				/>
				{exp.role} @{" "}
				{exp.link ? (
					<Link external to={exp.link}>
						[{exp.org} ->]
					</Link>
				) : (
					exp.org
				)}
				<span class="ml-auto opacity-60">
					{Array.isArray(exp.range)
						? `${exp.range[0]} -> ${exp.range[1] === -1 ? "...." : exp.range[1]}`
						: exp.range}
				</span>
			</li>
		))
	}
</ul>
<br />
<h2 class="mb-1.5 font-bold">Education</h2>
<ul class="list-inside space-y-1">
	{
		educations.map((exp) => (
			<li class="flex w-full items-center gap-2">
				<Icon
					name={exp.id}
					size={20}
					style={`background-color: ${exp.tint}`}
					class="inline-block"
				/>
				{exp.org}
				<span class="ml-auto opacity-60">{exp.role}</span>
			</li>
		))
	}
</ul>
