---
import { Icon } from 'astro-icon/components'
interface Props {
	name: string
	where: string
	when: string
	description: string
	link: string
	icon: string
	tint: string
}

const { name, where, when, description, link, icon, tint } = Astro.props
---

<a
	href={link}
	target="_blank"
	rel="noreferrer"
	class={`
		border duration-100 p-4 rounded-lg
		border-neutral-200 dark:border-neutral-700
		hover:bg-neutral-100 dark:hover:bg-neutral-800
		w-full h-full
	`}
>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
		<div>
			<h3 class="font-mono font-bold text-lg">
				<Icon
					name={icon}
					size={32}
					style={`background-color: ${tint}`}
					class={`
						inline border border-neutral-200 dark:border-neutral-700
						rounded-lg group-hover:bg-neutral-200 dark:group-hover:bg-neutral-700
					`}
				/>
				{where}
			</h3>
		</div>
		<p class="font-mono sm:text-right">
			{when}
			<br />
			{name}
		</p>
	</div>
	<p class="mt-4 text-md text-neutral-600 dark:text-neutral-300">
		{description}
	</p>
</a>
