---
import { Icon } from 'astro-icon/components'
interface Props {
	name: string
	where: string
	when: string
	description: string
	link: string
	icon: string
}

const { name, where, when, description, link, icon } = Astro.props
---

<div>
	<div class="flex justify-between items-start">
		<div>
			<h3 class="font-bold">{name}</h3>
			<a
				class="flex items-center gap-1 group"
				href={link}
				target="_blank"
				rel="noreferrer"
			>
				<Icon
					name={icon}
					class={`
						inline size-7 border border-neutral-200 dark:border-neutral-700
						rounded-lg grayscale group-hover:bg-neutral-200 dark:group-hover:bg-neutral-700
					`}
				/>
				{where}
			</a>
		</div>
		<p>{when}</p>
	</div>
	<p class="mt-3 text-md text-neutral-600 dark:text-neutral-300">
		{description}
	</p>
</div>
