---
import { getCollection } from "astro:content";
import IconButton from "@/components/icon-button.astro";
import Link from "@/components/link.astro";
import Section from "@/components/section.astro";

const projects = await getCollection("projects");
const pad = (n: number) => n.toString().padStart(2, "0");
---

<Section title="Projects" meta={`[${projects.length} entries]`} />
<table class="w-full border-collapse border border-neutral-300 dark:border-neutral-700">
	<thead>
		<tr class="border-b border-neutral-300 uppercase opacity-50 dark:border-neutral-700">
			<th class="border-r border-neutral-300 px-2 py-1 text-right font-bold dark:border-neutral-700">
				#
			</th>
			<th class="border-r border-neutral-300 px-2 py-1 text-left font-bold dark:border-neutral-700">
				Project
			</th>
			<th class="border-r border-neutral-300 px-2 py-1 text-left font-bold dark:border-neutral-700">
				Description
			</th>
			<th class="px-2 py-1 text-left font-bold">Stack</th>
		</tr>
	</thead>
	<tbody>
		{
			projects.map(({ data }, i) => (
				<tr class="border-b border-neutral-300 last:border-b-0 hover:bg-neutral-200/60 dark:border-neutral-700 dark:hover:bg-neutral-700/40">
					<td class="border-r border-neutral-300 dark:border-neutral-700 px-2 py-1 align-top tabular-nums opacity-50 text-right">
						{pad(i + 1)}
					</td>
					<td class="border-r border-neutral-300 dark:border-neutral-700 px-2 py-1 align-top whitespace-nowrap">
						{data.link ? (
							<Link external to={data.link}>
								[{data.name}]
							</Link>
						) : (
							data.name
						)}
					</td>
					<td class="border-r border-neutral-300 dark:border-neutral-700 px-2 py-1 align-top opacity-80">
						{data.description}
					</td>
					<td class="px-2 py-1 align-top whitespace-nowrap">
						<span class="flex shrink-0 gap-1">
							{data.icons.sort().map((icon) => (
								<IconButton name={icon} />
							))}
						</span>
					</td>
				</tr>
			))
		}
	</tbody>
</table>
