---
import '@fontsource/atkinson-hyperlegible'
import '@fontsource/crimson-pro/700.css'
import '@/styles/global.css'
import Header from '@/components/Header.astro'

interface Props {
	title?: string;
	desc?: string;
}

const { title, desc } = Astro.props
const name = 'Aarnav Tale'
const headline = title ? `${title} • ${name}` : name
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={Astro.url.href} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={headline}
			href={new URL("rss.xml", Astro.site)}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{headline}</title>

		<meta name="title" content={headline} />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />

		<slot name="head" />
	</head>

	<body class="overscroll-none bg-neutral-50 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100">
		<div class="max-w-3xl mx-auto p-4 my-4">
			<Header />
			<slot />
		</div>
	</body>
</html>
